.a
{
 height: 700px;
 width: 100%;
 background-image: url("w.jpg");
 background-size: cover;

}
.a1
{
 width: 80%;
 height: 70px;
 border-bottom: 2px solid rgb(255 255 255 / 40%);
 margin: auto;
 color: white;
 display: flex;
 flex-direction: row-reverse;
}
.a11
{

   
    margin: 20px;
    padding: 10px;

}
.ch
{

    padding: 10px;
    position: absolute;
    display: inline;
    margin: 10px ;
    margin-right: 75%;
}
.he
{
 background-color:hsl(64deg 42% 53% / 40%);
 margin-top:300px ;
 height: 150px;
 width: 50%;
 margin-left: 0px;
 padding: 50px;
 color: white;
}
.b
{
 height: 50px;
 width: 100%;
 margin: 40px;
 
}
.b h1 
{
 text-align: center;
 color:rgb(53 51 51 / 80%);

}
.b p
{
    text-align: center;  
}
.o
{
    width: 100%;
    height: 550px;
    display: grid;
   
    grid-template-columns: 20% 20%;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    
}
.o h2
{
    display: inline;
    color: rgb(185, 8, 8);
}
.c
{
 height: 500px;
 background-image: url("op.jpg");
 background-size: cover;
 width: 100%;
 position: relative;
}
.me
{
    width: 30%;
    height: 100px;
    background-color: rgb(173 0 35 / 40%);
    margin-left: 63.2%;
    margin-top:150px ;
    position: absolute;
    padding: 50px;
   color: white;

}